{% extends "AppCoderPE3/padre.html" %}

{% load static %}

{% block titulo %}

<p>Hola, soy Amadeo G. Moyano Manchon y yo creé esta página.</p>

{% endblock %}

{% block parrafo %}

<p>Hola, soy Amadeo G. Moyano Manchon y yo cree esta página. Tengo 27 años y soy de Mendoza, Argentina. 
    <br>
    Estudio progamación e idiomas. He hecho cursos en Python y Java, tengo muchas ganas de seguir estudiando y mejorando en el campo.
    <br>
    También soy políglota, hablo varios idiomas y estoy aprendiendo otros. Me gustaría aplicar estos conocimientos en conjunto para mejorar en el ámbito laboral y profesional. 
    <br>
    Hice esta página para mi proyecto final de Python, en Coderhouse. Recomendo la academia. 
</p> 

{% endblock %}
